@import url("home.css");



/* Styling for the body */


/* Styling for the main container */
.container {
    max-width: 100%;
    width: 1200px;
    margin: auto;
    transition: 0.5s;
    /* Smooth transition effect */
}

/* Styling for the header section */
main {
    display: flex;
    flex-direction: column;
    margin-top: 50px;

}

/* Styling for the shopping cart icon */
main .shopping {
    position: relative;
    text-align: right;

}

/* Styling for the shopping cart icon image */
main .shopping img {
    width: 40px;
}

/* Styling for the notification quantity badge */
main .shopping span {
    background: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 80%;
    padding: 3px 10px;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 2rem;
}

.categories {
    display: flex;
    justify-content: space-around;
}

.category-btn {
    padding: 20px;
    font-size: 18px;
    background-color: #fff;
    border: 1px solid #d6d5d5;
    cursor: pointer;
}

.category-btn.active {
    background-color: #1C1F25;
    color: #fff;
}

.category-btn:not(.active):hover {
    background-color: #f3f0f0;
}

/* Styling for the product list */
.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 50px;
}

/* Styling for each product item */
.list .item {
    text-align: center;
    background-color: #DCE0E1;
    padding: 20px;
    box-shadow: 0 50px 50px #757676;
    letter-spacing: 1px;
    display: none;

}

.item.show {
    display: block;
}

/* Styling for the product image within each item */
.list .item img {
    width: 100%;
    object-fit: cover;
}

/* Styling for the title of each product */
.list .item .title {
    font-weight: 600;
}

/* Styling for the price of each product */
.list .item .price {
    margin: 10px;
}

/* Styling for the "Add to Cart" button */
.list .item button {
    background-color: #1C1F25;
    color: #fff;
    width: 100%;
    padding: 10px;
}

/* Styling for the fixed position shopping cart */
.card {
    position: fixed;
    top: 0;
    left: 100%;
    width: 500px;
    background-color: #453E3B;
    height: 100vh;
    transition: 0.5s;
    /* Smooth transition effect */
}

/* Styling for the active state of the shopping cart */
.active .card {
    left: calc(100% - 500px);
}

/* Styling for the active state of the main container */
.active .container {
    transform: translateX(-200px);
}

/* Styling for the title in the shopping cart */
.card h1 {
    color: #E8BC0E;
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}

/* Styling for the checkout section in the shopping cart */
.card .checkOut {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* Styling for individual checkout buttons */
.card .checkOut div {
    background-color: #f0660b;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

/* Styling for the second checkout button */
.card .checkOut div:nth-child(2) {
    background-color: #1C1F25;
    color: #fff;
}

/* Styling for the list of items in the shopping cart */
.listCard li {
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    color: #ffffff;
    row-gap: 10px;
}

/* Styling for individual elements within the list of items */
.listCard li div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling for the image within the list of items */
.listCard li img {
    width: 90%;
}

/* Styling for buttons within the list of items */
.listCard li button {
    background-color: #fff5;
    border: none;
    font-size: 0.5em;
    padding: 7px 7px;

}

/* Styling for the count display within the list of items */
.listCard .count {
    margin: 0 10px;
}

.listCardContainer {
    max-height: 700px;
    /* Set your preferred max height */
    overflow-y: auto;
    /* Enable vertical scrollbar when content exceeds the height */
}

.card #message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    /* Adjust as needed */
    text-align: center;
    background-color: white;
    /* Optional, for visibility */
    padding: 10px;
    /* Optional, for better spacing */
    border-radius: 5px;
    /* Optional, for aesthetics */
}




/* Common styles for smaller screens */
@media only screen and (max-width: 768px) {


    .logo {
        margin-bottom: 20px;
    }

    .nav-links {
        width: 100%;
        text-align: center;
    }

    .nav-links a {
        margin-right: 0.5rem;
        font-size: 0.8rem;
        /* Adjust font size for smaller screens */
        padding: 6px 10px;
        /* Adjust padding for smaller screens */
    }

    header {
        text-align: center;
    }

    .hero-text {
        display: none;
        /* Hide the hero text on smaller screens */
    }

    .hero-text a {
        display: block;
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 1em;
        /* Adjust the font size as needed */
    }

    .categories {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .category-btn {
        margin-right: 5px;
    }

    .list {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 10px;
    }

    .card {
        position: fixed;
        top: 0;
        left: 100%;
    }

    .listCard li {
        grid-template-columns: repeat(2, 1fr);
    }


    footer {
        text-align: center;
    }

    .footer-links {
        flex-direction: column;
        align-items: center;
    }

    .social-links a {
        display: block;
        margin-bottom: 10px;
    }

    .listCard .count {
        margin: 0 15px;
        /* Increase margin for better spacing */
        font-size: 1em;
        /* Adjust the font size as needed */
    }

    /* Styling for buttons within the list of items */
    .listCard li button {
        background-color: #fff5;
        border: none;
        font-size: 0.5em;
        /* Adjust the font size as needed */
        padding: 7px 7px;
        /* Adjust padding for better spacing */
    }

    main .shopping {
        position: sticky;
        top: 0;
        /* Adjust the top position as needed */
        background-color: #ffffff;
        /* Adjust the background color as needed */
        z-index: 1000;
        /* Ensure the shopping cart is above other elements */
    }

    main .shopping img {
        margin-left: 150px;
        /* Adjust the left margin as needed */
    }

}

label {
    display: block;
    margin-bottom: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    font-size: 20px;
}

#bord-selection {
    padding: 10px;
    font-size: 14px;
    border-radius: 10px;
    width: 25%;
    background-color: rgba(228, 226, 223, 0.767);
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#bord-selection option {
    background-color: rgba(228, 226, 223, 0.767);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;

}

.card #message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    /* Adjust as needed /
    text-align: center;
    background-color: white; / Optional, for visibility /
    padding: 10px; / Optional, for better spacing /
    border-radius: 5px; / Optional, for aesthetics */
}